body {
    
    background: fixed;
    /* background: linear-gradient(70deg, #E7460F, pink); */
    background: linear-gradient(70deg, blue, pink);
    
}

.master {

    background-color: white;
}

header {

    color: white;
    background-color: #191919;
    text-align: center;
    padding: 2%;
    width: 50%;
    font-family: "Secular One";
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

section {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #191919; */
    font-family: "Rubik";
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.importante {

    padding: 5px;
    text-align: center;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.info {

    padding: 2%;
}

article {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #191919; */
    background-color: white;
    font-family: "Rubik";
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.satisfação {

    padding-top: 3%;

}

.recomendacion {

    
    margin-left: 1%;
}

.lista {

    list-style-type: none;
    padding: 0%;
    display: inline-block;

}

.lista2 {
    list-style-type: none;
    padding: 0%;
    margin-left: 50px;
    display: inline-block;

}

.boton {

    margin: 2%;
    margin-left: 25%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}